@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;;
    color: #333333;
    margin: 0px;
    padding: 0px;
    /*background: rgba(102,202,242,1);*/
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
 
 header {
     position: fixed;
     background-image: url("images/mobile_header2.png");
     width: 100vw;
     height: 30vw;
    max-width: 100vw;
    background-size: cover;
    top: 0;
    box-sizing: border-box;   
 }
 
 .navegation{
	width: 100%;
    margin-top: 30vw;
    background-color: rgba(242, 200,73, 1);
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegation ul{
    list-style: none;  
}

.menu > li{
	position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Roboto', sans-serif;;
    text-decoration: none;
    
}


.menu li a:hover{
	color: #48688ad3;
    transition: all .3s;
    background-color: wheat;
}

.menuType {
	position: absolute;
	background: #48688ad3;
	width: 250%;
	visibility: hidden;
    opacity: 0;
    color: white;
    transition: opacity 1.5s;
    margin-top: -0.6vh;
    padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.menuType li{
    margin: 10px 0px 10px 0px;
}

.menuType li a{
	/* display: block; */
    padding: 5px;
    padding-right: 15px;
    padding-left: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;;
    text-decoration: none;
   
    
}

.menuType li a:target{
    display: block;
    padding: 10px;
}


.menuSort {
    position: absolute;
	background:#48688ad3;
	width: 100%;
	visibility: hidden;
	opacity: 0;
    transition: opacity 1.5s;
    margin-top: -0.6vh;
    padding: 0px;
    text-align: center;
}

.menuSort li{
    margin: 10px 0px 10px 0px;
}
.menuSort li a{
	padding: 5px;
	color: #333333;
    font-family: 'Roboto', sans-serif;;
    text-decoration: none;
    color: white;
}

.menuSort li a:target{
    display: block;
}


.menu li:hover .menuSort{
	visibility: visible;
	opacity: 1;
}

.menu li:hover .menuType{
	visibility: visible;
	opacity: 1;
}


#listOfPokemon {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50vw;
    margin-right: 10px ;
    margin-left: 10px ;
    padding: 0px;
}

.card {
    background: #f4f4f4;
    width: 150px;
    height: 200px;
    list-style: none;
    font-size: 12px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    padding-bottom: 5px;
    box-shadow: 11px 9px 23px -12px rgba(0,0,0,0.38);
}

.name {
    background-color: rgba(242, 200,73, 1);
    margin: 0px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn_aboutMe {
    background-color: rgba(212, 217, 67, 1);
    border-color: transparent;
    border-radius: 7px;
    width: 100px;
    height: 25px;
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
    margin-top: 15px;
    color: #333333
}

.btn_aboutMe:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

#footer {
    background: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 12px;
    height: 50px;
    align-items: center;
    box-sizing: border-box; 
    bottom: 0px;
}

.overlay {
     background: rgba(0,0,0,0.3);
     position: fixed;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;
     align-items: center;
     justify-content: center;
     display: flex;
     /*visibility: hidden;*/
}

 .popup{
     background: rgb(147, 217, 245);;
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
     border-radius: 10px;
     font-family: 'Roboto', sans-serif;;
     padding: 20px;
     text-align: center;
     width: 75vw;
     /* transition: .3s ease all;
     transform: scale(0.7);
	 opacity: 0; */
}

.popup.active {
     visibility: visible;
}

.popup .btn-close-popup {
	font-size: 30px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
    color: #48688a;
}

.popup .btn-close-popup:hover {
	color: #000;
} 

.blue_bar {
    background: #ffffff;
    border-radius: 5px;
    width: 45vw;
    height: 10px;
    display: flex;
    justify-content: center;
    margin-left: 15vw;
    box-sizing: border-box;
    margin-top: -12px;
    font-weight: bold;
}

.pokemon_info {
    text-align: left;
    margin-left: 9px;
    margin-right: 9px;
    background-color: #e5e970;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}


#weaknesses {
    word-spacing:0.5rem;
    word-break: break-all;
}


p#Grass,Poison.type {

    background-color: #9bcc50;
}